'scopeName': 'source.ade8'
'name': 'ADE8 ISA'
'fileTypes': ['ade8', 'ade8.txt']

'patterns': [
    {
        'match':  '([A-Z])+([a-z])+:|([A-Z])+:'
        'name': 'entity.name.function.ade8.bold'
    },
    {
          'match':  '\\W(ANDs|ORs|ADDs|SUBs|CMPs|ANDi|ORi|ADDi|SUBi|LDi|STi|CMPi|LDv|LDs|STs|SETv|ANDv|ADDv|SUBv|CMPv|AND|NEG|NOT|LD|ST|AND|OR|ADD|SUB|CMP|JMP|JZ|JE|JN|JO|JC|JLu|JLs|PUSH|POP|CALL|RET)'
          'name':   'keyword.control.ade8'
    },
    {
      'match': '\\W(ands|ors|adds|subs|cmps|andi|ori|addi|subi|ldi|sti|cmpi|ldv|lds|sts|setv|andv|addv|subv|cmpv|and|neg|not|ld|st|and|or|add|sub|cmp|jmp|jz|je|jn|jo|jc|jlu|jls|push|pop|call|ret|Ands|Ors|Adds|Subs|Cmps|Andi|Ori|Addi|Subi|Ldi|Sti|Cmpi|Ldv|Lds|Sts|Setv|Andv|Addv|Subv|Cmpv|And|Neg|Not|Ld|St|And|Or|Add|Sub|Cmp|Jmp|Jz|Je|Jn|Jo|Jc|Jlu|Jls|Push|Pop|Call|Ret)'
      'name':   'keyword.control.ade8'
    },

    {
      'match': '\\W(ANDS|ORS|ADDS|SUBS|CMPS|ANDI|ORI|ADDI|SUBI|LDI|STI|CMPI|LDV|LDS|STS|SETV|ANDV|ADDV|SUBV|CMPV|AND|NEG|NOT|LD|ST|AND|OR|ADD|SUB|CMP|JMP|JZ|JE|JN|JO|JC|JLU|JLS|PUSH|POP|CALL|RET)'
      'name':   'keyword.control.ade8'
    },
    {
        'match':  '([A-Z])+([a-z])+'
        'name': 'entity.name.function.ade8.bold'
    },
    {
        'match':  '([0-9])([0123456789abcdefABCDEF])+([hH]*)'
        'name':   'constant.numeric.ade8'
    },
    {
        'match':  '([A-Z])'
        'name':   'variable.language.ade8'
    },
    {
      'match':  ';.+'
      'name':   'comment.line.ade8'
    },
]
